In [1]:
import requests as re
import pandas as pd

In [2]:

#####################

# Session API
response = re.get("https://apigw.withoracle.cloud/formulaai/sessions")
sessionDf = pd.json_normalize(response.json())

trackId = 'Melbourne' # User input for final application

# Seprating out the df based on track id
selectedSessionDf = sessionDf[sessionDf['TRACKID'] == trackId]

# Appending the data for each session id and lap

# apending directly in data frame ~ 40 seconds
data = pd.DataFrame()
for index, row in selectedSessionDf.iterrows():
    laps = row.loc['LAPS']
    sessionId = row.loc['M_SESSIONID'] 
    # data should be upto lap number.. but we have data upto lap+1
    for i in range(laps):
        url = "https://apigw.withoracle.cloud/formulaai/trackData/" + sessionId + "/" + str(i+1)
        temp = pd.json_normalize(re.get(url).json())
        print("Session id- " + sessionId + " and Lap number- " + str(i+1)+ " data shape is- " + str(temp.shape)) 
        data = data.append(temp)

Session id- 13315121676340788867 and Lap number- 1 data shape is- (1623, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 13315121676340788867 and Lap number- 2 data shape is- (1635, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 15010144713596184927 and Lap number- 1 data shape is- (4609, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 1 data shape is- (1631, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 2 data shape is- (1669, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 3 data shape is- (1919, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 4 data shape is- (1590, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 5 data shape is- (1657, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 6 data shape is- (1649, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 7 data shape is- (1776, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14829450551143233443 and Lap number- 8 data shape is- (1608, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 9296252324797135598 and Lap number- 1 data shape is- (1613, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 9296252324797135598 and Lap number- 2 data shape is- (1632, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14112933445202903173 and Lap number- 1 data shape is- (1582, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 5392487118495409773 and Lap number- 1 data shape is- (2836, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 5392487118495409773 and Lap number- 2 data shape is- (2944, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 863461143984317381 and Lap number- 1 data shape is- (2270, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 863461143984317381 and Lap number- 2 data shape is- (1753, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 14723197675720646148 and Lap number- 1 data shape is- (3826, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 3447308828675135472 and Lap number- 1 data shape is- (4159, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 6424586751601551341 and Lap number- 1 data shape is- (3548, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

Session id- 4343711350942679131 and Lap number- 1 data shape is- (1603, 16)

C:\Users\arajawa1\AppData\Local\Temp\ipykernel_33492\2931157892.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(temp)

In [30]:
data

,M_SESSION,FRAME,RACETIME,CURRENT_LAP_NUM,SECTOR,SPEED,LAP_DISTANCE,WORLDPOSX,WORLDPOSY,WORLDPOSZ,WORLDFORWARDDIRX,WORLDFORWARDDIRY,WORLDFORWARDDIRZ,WORLDRIGHTDIRX,WORLDRIGHTDIRY,WORLDRIGHTDIRZ
0,5.392487e+18,565,2022-02-18 12:22:53,1,0,160,0.954011,112.503380,464.131256,2.970696,41862,65266,42885,22652,50,41861
1,5.392487e+18,566,2022-02-18 12:22:53,1,0,160,3.925263,114.650330,462.077332,2.951317,41864,65289,42882,22654,27,41863
2,5.392487e+18,567,2022-02-18 12:22:53,1,0,159,6.147455,116.255783,460.540955,2.937496,41865,65282,42881,22656,0,41864
3,5.392487e+18,568,2022-02-18 12:22:53,1,0,159,8.369106,117.860786,459.004883,2.924089,41866,65285,42880,22657,65523,41866
4,5.392487e+18,569,2022-02-18 12:22:53,1,0,159,10.591691,119.466347,457.468048,2.910896,41868,65299,42878,22659,65502,41867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,9.296252e+18,3996,2022-02-16 13:02:10,2,2,297,5278.088379,96.165833,481.949371,3.064066,41835,65295,42912,22623,149,41834
1628,9.296252e+18,3997,2022-02-16 13:02:10,2,2,297,5282.228027,99.161697,479.092194,3.038681,41909,65298,42834,22701,182,41908
1629,9.296252e+18,3998,2022-02-16 13:02:10,2,2,298,5287.758301,103.150459,475.261505,3.010845,42004,65319,42736,22799,203,42003
1630,9.296252e+18,3999,2022-02-16 13:02:10,2,2,298,5291.909668,106.134430,472.375885,2.994304,42068,65355,42670,22865,205,42067
1631,9.296252e+18,4000,2022-02-16 13:02:10,2,2,299,5296.061035,109.110809,469.481262,2.977553,42129,65315,42608,22927,194,42127

In [31]:
wx = data['WORLDPOSX'].tolist()
wy = data['WORLDPOSY'].tolist()
wz = data['WORLDPOSZ'].tolist()

wrx = data['WORLDRIGHTDIRX'].tolist()
wry = data['WORLDRIGHTDIRY'].tolist()
wrz = data['WORLDRIGHTDIRZ'].tolist()

wfx = data['WORLDFORWARDDIRX'].tolist()
wfy = data['WORLDFORWARDDIRY'].tolist()
wfz = data['WORLDFORWARDDIRZ'].tolist()

In [33]:
wrx[1]

22654

In [46]:
l = np.size(wx)
normalvecs = []
for i in range(l):
    a = np.cross([wrx[i], wry[i], wrz[i]],[wfx[i], wfy[i], wfz[i]])
    normalvecs.append(a)

In [45]:
normalvecs[i]

array([1562931703,  781103804, 1477926678])

In [24]:
import open3d as o3d
import numpy as np
xyz = np.zeros((np.size(wx), 3))
xyz[:, 0] = np.reshape(wx, -1)
xyz[:, 1] = np.reshape(wy, -1)
xyz[:, 2] = np.reshape(wz, -1)
pcd = o3d.geometry.PointCloud()
pcd.points = o3d.utility.Vector3dVector(xyz)
o3d.io.write_point_cloud("Melbourne.ply", pcd)

True

In [29]:
pcd_load = o3d.io.read_triangle_mesh("bpa_mesh.ply")
o3d.visualization.draw_geometries([pcd_load])

[Open3D WARNING] [ViewControl] SetViewPoint() failed because window height and width are not set.

In [49]:
pcd.normals = o3d.utility.Vector3dVector(normalvecs)

In [50]:
pcd.normals[1]

array([1.56293170e+09, 7.81103804e+08, 1.47792668e+09])

In [52]:
o3d.io.write_point_cloud("Melbourne-n.ply", pcd)

True

In [4]:
import open3d as o3d

pcd_load = o3d.io.read_point_cloud("Melbourne.ply")
o3d.visualization.draw_geometries([pcd_load])

Jupyter environment detected. Enabling Open3D WebVisualizer.
[Open3D INFO] WebRTC GUI backend enabled.
[Open3D INFO] WebRTCWindowSystem: HTTP handshake server disabled.